shoppe/*.rbc
shoppe/capybara-*.html
shoppe/.rspec
shoppe/log
shoppe/tmp
shoppe/db/*.sqlite3
shoppe/db/*.sqlite3-journal
shoppe/public/system
shoppe/coverage/
shoppe/spec/tmp
shoppe/**.orig
shoppe/rerun.txt
shoppe/pickle-email-*.html
shoppe/.env

## Environment normalisation:
shoppe/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
shoppe/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
shoppe/vendor/assets/bower_components
shoppe/*.bowerrc
shoppe/bower.json

# Ignore pow environment settings
shoppe/.powenv
shoppe/node_modules
