/** {
  outline: 1px solid blue;
}*/

.individual-animal {
  margin: 10px;
  padding: 30px;
  border: solid 1px #eee;
  height: 26em;
}

.table-categories {
  border: 1px solid #ddd;
}

td {
  padding: 20px 30px 20px 20px;
 }
