.container

  %h1 Admin Index

  %h4= link_to 'Add New Category', new_category_path

  %ul.nav.nav-tabs
    - @categories.each do |category|
      %li{:role => "presentation"}
        %a{:href => "#{category_path(category)}"}= category.name

  .category_page

