.container
	%h1.category-show-title
		= @category.name + " Category"
	= link_to 'Edit Category', edit_category_path(@category), id: "edit_category"

	#category-editor

	%h3 Animals
	= link_to 'Add Animal', new_animal_path, id: "add_animal"

	#animal-adder

	.col-md-12.col-lg-10
		= render @category.animals

	.row.col-md-12
		/ = link_to 'Edit', edit_category_path(@category)
		/ = link_to 'Back', categories_path
